@import url("https://fonts.googleapis.com/css?family=Merriweather");
.App {
  text-align: left;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.App-link {
  color: #61dafb;
}

h4 {
  font-family: "Merriweather";
}

h4 {
  font-size: 1.6em;
  text-emphasis: center;
}
.firstRow {
  margin: 0 auto;
  margin-top: 40px;
  padding-top: 1px;
  text-align: center;
  width: 80%;
}

.sssection {
  width: 150%;
  margin-top: 5vw;
}

#insertRow {
  margin: 0 auto;
  margin-left: 3vw;
}

.insertRow {
  margin: 0 auto;
  margin-top: 40px;
  text-align: center;
  width: 100%;
}

.secondRow {
  margin: 0 auto;
  margin-top: 50px;
  /* background: url("/home1.jpg"); */
  text-align: center;
  width: 100%;
  height: 100%;
  padding-top: 10px;
}

hr {
  border: none;
  height: 2px;
  background-color: black;
}

#detail {
  /* background-image: linear-gradient(
    to right,
    #fbc2eb 0%,
    #a6c1ee 51%,
    #fbc2eb 100%
  ); */
  background-color: #9ccc65;
}

footer {
  height: 100%;
  background-color: #fafafa;
  opacity: 0.7;
}

.cpage {
  margin: 0;
  padding: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif; */
  /* font-family: "Merriweather", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-size: 100%;
  background-position: center;
  /* background-image: radial-gradient(#417e72, #2d6161); */
  background: url("/home5.jpg") no-repeat;
  min-height: 91%;
  min-width: 100%;
  position: absolute;
  z-index: -0;
  background-attachment: fixed;
  background-size: cover;
}

.dashboard {
  margin: 0;
  padding: 0;
  background: url("/bg.jpg") no-repeat;
  min-height: 100%;
  min-width: 100%;

  background-attachment: fixed;
  background-size: cover;
}

.home {
  margin: 0;
  padding: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif; */
  /* font-family: "Merriweather", serif;
    font-family: "Playfair Display", serif; */
  font-family: "Merriweather";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-size: 100%;
  background-position: center;
  /* background-image: radial-gradient(#417e72, #2d6161); */
  background: url("/bg.jpg") no-repeat;
  min-height: 92%;
  min-width: 100%;
  position: absolute;
  z-index: -0;
  background-attachment: fixed;
  background-size: cover;
}

.recpage {
  margin: 0;
  padding: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif; */
  /* font-family: "Merriweather", serif;
    font-family: "Playfair Display", serif; */
  font-family: "Merriweather";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-size: 100%;
  background-position: center;
  /* background-image: radial-gradient(#417e72, #2d6161); */
  background: url("/home5.jpg") no-repeat;
  min-height: 92%;
  min-width: 100%;
  position: absolute;
  z-index: -0;
  background-attachment: fixed;
  background-size: cover;
}

span {
  font-size: 15px;
}

.item {
  border-radius: 10px;
  height: 30px;
  width: 20%;
  opacity: 0;

  transform-origin-y: 0%;
  color: white;
}

.anislider {
  text-align: left;
  width: 80%;
  opacity: 0;
  margin-bottom: 20px;
  color: black;
}

.ImageHeader {
  text-align: center;
}

.ImageMedia {
  height: 20em;
  padding-top: "56.25%";
}

.container-fluid {
  margin-top: 0px;
  align-items: center;
  overflow: auto;
}
/* change color here */
h3,
h4 {
  /* color: white; */
  font-family: "Merriweather";
  text-align: center;
}
.title {
  padding-right: 20px;
}

#side {
  color: black;
}

p {
  text-align: justify;
}

.introicon > i {
  color: black;
  margin-top: 45px;
  margin-left: 25px;
}

.page-item > i {
  cursor: pointer;
  color: #1976d2;
  padding: 0 5px 0 5px;
}
.container-fluid {
  margin: 0 0 0 0;
}

/* video parallex stuff */
.separator::before,
.separator::after {
  content: " ";
  background: linear-gradient(
    to left,
    RGBA(255, 255, 255, 0.5),
    RGBA(255, 255, 255, 0.1)
  );
  height: 150px;
  width: 100%;
}

.jarallax {
  color: white;
  height: 600px;
  margin: 0 auto;
  width: 95%;
  text-align: center;
  text-shadow: 2px 2px 3px #111, 3px 3px 10px #000;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.text p {
  text-align: center;
  padding-top: 150px;
  /* font-size: 45px; */
}

#color {
  background-color: #dcedc8;
}
.bgsection {
  background-color: #e8f5e9;
  /* background: url("/bg1.jpg"); */
  min-height: 450px;
  width: 100%;
  position: relative;
  margin-top: "-500px";
}

/* css for scroll icon */

.chevron {
  text-align-last: center;
  margin: 0 auto;
  position: absolute;
  width: 28px;
  height: 7px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: " ";
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: black;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}

.item {
  color: #000;
}

.vl {
  border-right: 3px solid black;
  height: 450px;
}

#searchBox {
  border: 1px solid black;
}

.responsive {
  max-width: 100%;
  height: auto;
}

.dashitem {
  font-family: "Merriweather";
  background: #e5d7e5;
  width: 70%;
  height: 15vh;
  margin: 30px auto;
  text-align: center;
}

.icon > img {
  width: 69%;
  height: auto;
}

.board {
  margin: 20px;
}

.leaflet-container {
  height: 100px;
  width: 20%;
}

#map {
  height: 100%;
}

#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* #im {
  position: relative;
}

.text_box {
  position: absolute;
  bottom: 20px;
  right: 800px;
  background-color: gray;
  color: red;
  padding-left: 20px;
  padding-right: 20px;
  opacity: 0.8;
} */

/* path {
  fill: #ccc;
  stroke: #fff;
  stroke-width: 0.5px;
}

path:hover {
  fill: red;
} */
