.App {
  text-align: left;
}
.suburb-list {
  margin-left: 50px;
}

.App-link {
  color: #61dafb;
}

h4 {
  font-size: 25px;
  padding-left: 10px;
}

#firstRow {
  background-color: white;
}

#secondRow {
  background-color: white;
}
p {
  padding-top: 20px;
}

.item {
  border-radius: 10px;
  height: 30px;
  width: 20%;
  opacity: 0;
  margin-bottom: 30px;
  transform-origin-y: 0%;
  color: white;
}

.anislider {
  text-align: left;
  width: 80%;
  opacity: 0;
  margin-bottom: 20px;
  color: black;
}

.ImageCard {
  max-width: 500px;
  margin-left: 50px;
  border-color: red;
  border: #61dafb;
}

.ImageHeader {
  text-align: center;
}

.ImageMedia {
  height: 300px;
  padding-top: "56.25%";
}

.container-fluid {
  align-items: center;
}
/* change color here */
h2 {
  /* color: white; */
  font-family: "Arial Black";
  text-align: center;
}

#choose {
  margin-top: 150px;
  margin-left: 80px;
  width: 1000px;
  height: 600px;
  background-color: #ff5252;
  position: absolute;
  opacity: 0.8;
}

/* #im {
  position: relative;
}

.text_box {
  position: absolute;
  bottom: 20px;
  right: 800px;
  background-color: gray;
  color: red;
  padding-left: 20px;
  padding-right: 20px;
  opacity: 0.8;
} */

/* path {
  fill: #ccc;
  stroke: #fff;
  stroke-width: 0.5px;
}

path:hover {
  fill: red;
} */
